body {
    background-color: #f9f9f9;
    padding: 50px;
    
}
ul {
    background-color: transparent;
    padding: 0px;
    display: flex;
}
li {
    list-style: none;

}

li a {
    display: block;
    background-color: pink;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #333;
    min-width: 100px;
    margin-right: 5px;
    transition: all .3s ease;
    text-transform: uppercase;
    text-decoration: none;
    color: blue;
}

li a:hover {
    background-color: purple;
    color: white;
    font-size: 20px;
}
